In [2]:
# Bitwise XOR -> ^
# Applications - Swapping of two numbers
10 ^ 7

13

In [8]:
# WAP to check if the number is greater than 18 then print number is greater than 18. If the number is b/w 24 and 30 then print the number is greater than 24 and less than 30 and if the number is 35 then print 35.
num = 40
if(num > 18):
    if(num > 24 and num < 30):
        print("The number is b/w 24 and 30")
    elif(num == 35):
        print("The number is equal to", num)
    else:
        print("The number is greater than 18")

The number is greater than 18

In [11]:
# Print the following pattern
'''
* * * *
* * *
* *
*
'''
for row in range(1, 5):
    for column in range(4, row - 1, -1):
        print("*", end = " ") 
    print()

* * * *
* * *
* *
*

In [15]:
# Print the following pattern
'''
1
1 2
1 2 3
1 2 3 4
'''
for row in range(1, 5):
    for column in range(1, row + 1):
        print(column, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4

In [3]:
# Print the following pattern
'''
4321
 321
  21
   1
'''
for row in range(4, 0, -1):
    for i in range(4, row, -1):
        print(" ", end = "")
    for column in range(row, 0, -1):
        print(column, end = "")
    print()

4321
 321
  21
   1

In [69]:
# Print the following pattern
'''
1
2 3
4 5 6
7 8 9 10
'''
num = 1
for row in range(1, 5):
    for column in range(1, row + 1):
        print(num, end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [4]:
# Print all the prime numbers from 1 to 100.
for num in range(1, 101):
    if(num > 1):
        for index in range(2, num):
            if(num % index == 0):
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97